/* BREAK POINT */
/* PC */
@media (min-width: 64em) {

}
/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {

}
/* Mobile */
@media (max-width: 46.1875em) {
    #nav {
        display: block;
    }

    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav li a {
        color: #fff;
        padding: 5px 41px;
    }

    #nav .subnav li:hover a {
        color: #000;
    }

    #header {
        overflow: hidden;
    }

    #header .search-button {
        display: none;
    }

    #header .mobile-menu-btn {
        top: 0;
        right: 0;
        position: absolute;
        display: block;
        float: right;
        color: #fff;
        width: 60px;
        height: 46px;
        text-align: center;
        line-height: 46px;
    }

    #header .mobile-menu-btn:hover {
        background-color: #ccc;
        color: #000;
    }

    .form .col-email {
        margin-top: 8px;
    }

    .col {
        display: initial;
    }

    .s-full-width,
    .s-col-full {
        width: 100%;
    }

    .ml-0 {
        margin-left: 0 !important;
    }

    .mt-56 {
        margin-top: 56px!important;
    }

    #section .team-avatar {
        width: 60%;
    }
}
